torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
opencv-python==4.10.0.84
decord==0.6.0
safetensors
diffusers>=0.31.0
transformers>=4.49.0,<=4.51.3
tokenizers>=0.20.3
accelerate>=1.1.1
deepspeed==0.16.4
imageio[ffmpeg]
easydict
ftfy
dashscope
imageio-ffmpeg
omegaconf

numpy>=1.23.5,<2
scipy>=1.7
tqdm>=4.66.1
einops>=0.6
torchdiffeq>=0.2.5

moviepy==1.0.3
librosa>=0.8.1
open_clip_torch>=2.29.0
omegaconf
pandas
gradio
protobuf
sentencepiece

optimum-quanto
insightface==0.7.3
